In [1]:
WORK_DIR_PATH = ".."

# Config

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os
os.environ["CUDA_LAUNCH_BLOCKING"] = "1"
os.chdir(WORK_DIR_PATH)
print(f"DIRECTORY: {os.getcwd()}")

DIRECTORY: c:\Users\jayar\Desktop\바탕 화면\MDPI\RESEARCH-BACF

In [4]:
import json
import pandas as pd
import UTILS

In [5]:
from UTILS.constants import (
    DEFAULT_USER_COL,
    DEFAULT_ITEM_COL,
    DEFAULT_RATING_COL,
    DEFAULT_LABEL_COL,
    DEFAULT_TIMESTAMP_COL,
    DEFAULT_PREDICTION_COL,
    COL_DICT,
    DEFAULT_K,
    DEFAULT_THRESHOLD,
    SEED,
)

# Amazon Beauty

In [6]:
# JSON lines 형식의 파일 열기
with open('./_data/origin/abeauty.json', 'r', encoding='utf-8') as f:
    records = [json.loads(line) for line in f]

# reviewerID와 asin만 추출
filtered_records = [{'reviewerID': r['reviewerID'], 'asin': r['asin']} for r in records]

# DataFrame으로 변환
origin = pd.DataFrame(filtered_records)

In [7]:
origin

           reviewerID        asin
0      A2HOI48JK8838M  B00004U9V2
1      A1YIPEY7HX73S7  B00004U9V2
2      A2QCGHIJ2TCLVP  B00004U9V2
3      A2R4UNHFJBA6PY  B00004U9V2
4      A2QCGHIJ2TCLVP  B00004U9V2
...               ...         ...
34273  A2CF66KIQ3RKX3  B01GOZ61O8
34274  A1LKOIZXPQ9VG0  B01GOZ61O8
34275   AV2RWORXTFRJU  B01H353HUY
34276  A22S7D0LP8GRDH  B01H353HUY
34277   AAF5D1LTFGB7L  B01HGSJPMW

[34278 rows x 2 columns]

In [8]:
# Columns
kwargs = dict(
    col_user='reviewerID', 
    col_item='asin', 
)

data = UTILS.data_handler.rename_columns(origin, **kwargs)

In [9]:
# Label encoding
kwargs = dict(
    data=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.data_handler.label_encoding(**kwargs)

In [10]:
data

       userId  itemId
0        1485       0
1         946       0
2        1761       0
3        1784       0
4        1761       0
...       ...     ...
34273    1343    1576
34274     599    1576
34275    3692    1579
34276    1067    1579
34277    3081    1580

[34278 rows x 2 columns]

In [11]:
# data Description
UTILS.data_handler.description(data)

number of user: 3819
number of item: 1581
total interaction: 34278
interaction density: 0.5677 %
max interaction of user: 127
top 10.0 % interaction of user: 15.0
mean interaction of user: 8
mean interaction of item: 21

In [12]:
data.to_csv("./_data/abeauty.csv", index=False, header=True)

# Amazon Music

In [13]:
# JSON lines 형식의 파일 열기
with open('./_data/origin/amusic.json', 'r', encoding='utf-8') as f:
    records = [json.loads(line) for line in f]

# reviewerID와 asin만 추출
filtered_records = [{'reviewerID': r['reviewerID'], 'asin': r['asin']} for r in records]

# DataFrame으로 변환
origin = pd.DataFrame(filtered_records)

In [14]:
origin

           reviewerID        asin
0      A3EBHHCZO6V2A4  5555991584
1       AZPWAXJG9OJXV  5555991584
2      A38IRL0X2T4DPF  5555991584
3      A22IK3I6U76GX0  5555991584
4      A1AISPOIIHTHXX  5555991584
...               ...         ...
64701  A1PQ1PESSO8CMO  B00KILDVEI
64702  A120RH58WVY4W6  B00KILDVEI
64703  A19VJ2IQLO50G0  B00KILDVEI
64704   AUDSM2CTLLW1Q  B00KILDVEI
64705  A1GN8UJIZLCA59  B00KILDVEI

[64706 rows x 2 columns]

In [15]:
# Columns
kwargs = dict(
    col_user='reviewerID', 
    col_item='asin', 
)

data = UTILS.data_handler.rename_columns(origin, **kwargs)

In [16]:
# Label encoding
kwargs = dict(
    data=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.data_handler.label_encoding(**kwargs)

In [17]:
data

       userId  itemId
0        3539       0
1        5529       0
2        3305       0
3        1578       0
4         427       0
...       ...     ...
64701    1077    3567
64702      84    3567
64703     399    3567
64704    5321    3567
64705     673    3567

[64706 rows x 2 columns]

In [18]:
# data Description
UTILS.data_handler.description(data)

number of user: 5541
number of item: 3568
total interaction: 64706
interaction density: 0.3273 %
max interaction of user: 578
top 10.0 % interaction of user: 20.0
mean interaction of user: 11
mean interaction of item: 18

In [19]:
data.to_csv("./_data/amusic.csv", index=False, header=True)

# Last.FM

In [20]:
# Upload Data
origin = pd.read_csv("./_data/origin/lastfm.dat", sep='\t')

In [21]:
origin

       userID  artistID  weight
0           2        51   13883
1           2        52   11690
2           2        53   11351
3           2        54   10300
4           2        55    8983
...       ...       ...     ...
92829    2100     18726     337
92830    2100     18727     297
92831    2100     18728     281
92832    2100     18729     280
92833    2100     18730     263

[92834 rows x 3 columns]

In [22]:
# Columns
kwargs = dict(
    col_user='userID', 
    col_item='artistID', 
)

data = UTILS.data_handler.rename_columns(origin, **kwargs)

In [23]:
# Label encoding
kwargs = dict(
    data=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.data_handler.label_encoding(**kwargs)

In [24]:
data

       userId  itemId
0           0      45
1           0      46
2           0      47
3           0      48
4           0      49
...       ...     ...
92829    1891   17615
92830    1891   17616
92831    1891   17617
92832    1891   17618
92833    1891   17619

[92834 rows x 2 columns]

In [25]:
# data Description
UTILS.data_handler.description(data)

number of user: 1892
number of item: 17632
total interaction: 92834
interaction density: 0.2783 %
max interaction of user: 50
top 10.0 % interaction of user: 50.0
mean interaction of user: 49
mean interaction of item: 5

In [26]:
data.to_csv("./_data/lastfm.csv", index=False, header=True)

# Movie Lens

In [27]:
# Upload Data
origin = pd.read_csv("./_data/origin/movielens.csv")

In [28]:
origin

        userId  movieId  rating   timestamp
0            1        0     4.0   964982703
1            1        2     4.0   964981247
2            1        5     4.0   964982224
3            1       43     5.0   964983815
4            1       46     5.0   964982931
...        ...      ...     ...         ...
100831     610     9416     4.0  1493848402
100832     610     9443     5.0  1493850091
100833     610     9444     5.0  1494273047
100834     610     9445     5.0  1493846352
100835     610     9485     3.0  1493846415

[100836 rows x 4 columns]

In [29]:
# Columns
kwargs = dict(
    col_user='userId', 
    col_item='movieId', 
)

data = UTILS.data_handler.rename_columns(origin, **kwargs)

In [30]:
# Label encoding
kwargs = dict(
    data=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.data_handler.label_encoding(**kwargs)

In [31]:
data

        userId  itemId
0            0       0
1            0       2
2            0       5
3            0      43
4            0      46
...        ...     ...
100831     609    9416
100832     609    9443
100833     609    9444
100834     609    9445
100835     609    9485

[100836 rows x 2 columns]

In [32]:
# data Description
UTILS.data_handler.description(data)

number of user: 610
number of item: 9724
total interaction: 100836
interaction density: 1.7000 %
max interaction of user: 2698
top 10.0 % interaction of user: 400.3
mean interaction of user: 165
mean interaction of item: 10

In [33]:
data.to_csv("./_data/movielens.csv", index=False, header=True)