In [1]:
WORK_DIR_PATH = ".."

# Config

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os
os.environ["CUDA_LAUNCH_BLOCKING"] = "1"
os.chdir(WORK_DIR_PATH)
print(f"DIRECTORY: {os.getcwd()}")

DIRECTORY: c:\Users\jayar\Desktop\바탕 화면\REPO\PAPER REVIEW\RECSYS\01_RS-NCF

In [4]:
import json
import pandas as pd
import UTILS

In [5]:
from UTILS.constants import (
    DEFAULT_USER_COL,
    DEFAULT_ITEM_COL,
    DEFAULT_RATING_COL,
    DEFAULT_LABEL_COL,
    DEFAULT_TIMESTAMP_COL,
    DEFAULT_PREDICTION_COL,
    COL_DICT,
    DEFAULT_K,
    DEFAULT_THRESHOLD,
    SEED,
)

# Movie Lens

In [6]:
# Upload Data
origin = pd.read_csv("./_data/origin/movielens.csv")

In [7]:
origin

        userId  movieId  rating   timestamp
0            1        0     4.0   964982703
1            1        2     4.0   964981247
2            1        5     4.0   964982224
3            1       43     5.0   964983815
4            1       46     5.0   964982931
...        ...      ...     ...         ...
100831     610     9416     4.0  1493848402
100832     610     9443     5.0  1493850091
100833     610     9444     5.0  1494273047
100834     610     9445     5.0  1493846352
100835     610     9485     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
# Columns
kwargs = dict(
    col_user='userId', 
    col_item='movieId', 
)

data = UTILS.data_handler.rename_columns(origin, **kwargs)

In [9]:
# Label encoding
kwargs = dict(
    data=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.data_handler.label_encoding(**kwargs)

In [10]:
data

        userId  itemId
0            0       0
1            0       2
2            0       5
3            0      43
4            0      46
...        ...     ...
100831     609    9416
100832     609    9443
100833     609    9444
100834     609    9445
100835     609    9485

[100836 rows x 2 columns]

In [11]:
# data Description
UTILS.data_handler.description(data)

number of user: 610
number of item: 9724
total interaction: 100836
interaction density: 1.7000 %
max interaction of user: 2698
max interaction of item: 329
top 10.0 % interaction of user: 400.3
top 10.0 % interaction of item: 27.0
mean interaction of user: 165
mean interaction of item: 10

In [ ]:
data.to_csv("./_data/movielens.csv", index=False, header=True)