In [1]:
WORK_DIR_PATH = ".."

# Config

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os
os.environ["CUDA_LAUNCH_BLOCKING"] = "1"
os.chdir(WORK_DIR_PATH)
print(f"DIRECTORY: {os.getcwd()}")

DIRECTORY: c:\Users\jayar\Desktop\바탕 화면\REPO\PAPER REVIEW\RECSYS\02_MLP\01_RS-NCF

In [ ]:
import pandas as pd
from EXPERIMENT import UTILS

In [6]:
from EXPERIMENT.constants import (
    DEFAULT_USER_COL,
    DEFAULT_ITEM_COL,
    DEFAULT_RATING_COL,
    DEFAULT_LABEL_COL,
    DEFAULT_TIMESTAMP_COL,
    DEFAULT_PREDICTION_COL,
    DEFAULT_K,
    DEFAULT_THRESHOLD,
)

# Movie Lens

In [7]:
# Upload Data
origin = pd.read_csv("./_data/origin/movielens.csv")

In [8]:
origin

        userId  movieId  rating   timestamp
0            1        0     4.0   964982703
1            1        2     4.0   964981247
2            1        5     4.0   964982224
3            1       43     5.0   964983815
4            1       46     5.0   964982931
...        ...      ...     ...         ...
100831     610     9416     4.0  1493848402
100832     610     9443     5.0  1493850091
100833     610     9444     5.0  1494273047
100834     610     9445     5.0  1493846352
100835     610     9485     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
# Positive feedback is limited to ratings of 3 or higher
pos_feedback = origin[origin["rating"]>=3]

In [ ]:
# Columns
kwargs = dict(
    df=pos_feedback,
    col_user='userId', 
    col_item='movieId', 
)

data = UTILS.datahandler.rename_columns(**kwargs)

In [ ]:
# Label encoding
kwargs = dict(
    df=data, 
    col_user=DEFAULT_USER_COL, 
    col_item=DEFAULT_ITEM_COL,
)

data, user_label, item_label = UTILS.datahandler.label_encoding(**kwargs)

In [21]:
data

        userId  itemId
0            0       0
1            0       2
2            0       5
3            0      43
4            0      46
...        ...     ...
100831     608    8200
100832     608    8223
100833     608    8224
100834     608    8225
100835     608    8254

[81763 rows x 2 columns]

In [22]:
# data Description
UTILS.datahandler.description(data)

number of user: 609
number of item: 8452
total interaction: 81763
interaction density: 1.5885 %
max interaction of user: 2117
max interaction of item: 315
top 10.0 % interaction of user: 344.4
top 10.0 % interaction of item: 25.0
mean interaction of user: 134
mean interaction of item: 9

In [ ]:
kwargs = dict(
    path_or_buf="./_data/movielens.csv",
    index=False, 
    header=True,
)

data.to_csv(**kwargs)